html {
  background-color: #fff;
}

.jumbotron {
  background-image: url("../images/nyc.jpeg");
  background-size: cover;
  background-position-x: 370px;
  background-position-y: -440px;
}

#h1 {
  text-align: center;
}

#h2 {
  text-align: center;
}

a {
  color: cadetblue;
}

a:hover {
  text-decoration: none;
  color: darkslategrey;
}

#h1-saved {
  padding-left: 20px;
}